<h1>Register</h1>
  <form >
    <div class="container">
      <p>Please fill in this form to create an account.</p>
      <hr>
      <div class="form-group">
        <label for="loginId"><b>LoginId</b></label>
        <input required minlength="3" name="loginId" id="loginId" type="text" placeholder="Enter Login-Id" formControlName="loginId" class="form-control" [ngClass]="{ 'is-invalid': submitted && log.loginId.errors }">
        <div class="alert alter-danger" *ngIf="loginId.touched && !loginId.valid"> 
          <div *ngIf="loginId.errors.required">Login Name Required</div>
          <div *ngIf="loginId.errors.minlength">Login Name be minimum 3 character</div>
        </div>
      </div>
      
      <label for="LoginType"><b>Login-Type</b></label> <br>
      <input type="radio" name="LoginType" value="C" checked> Customer<br>
      <input type="radio" name="LoginType" value="O" checked> Owner<br>
           
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="firstName"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="firstName" required>

      <label for="lastName"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lastName" required>
      
      <label for="phoneNumber"><b>Phone Number</b></label>
      <input type="text" placeholder="Enter Phone No." name="phoneNumber" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <hr>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="login">Sign in</a>.</p>
    </div>
  </form>
