* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 0px;
}
.label-group{
  padding: 10px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 75%;
  padding: 0px;
  margin: 0px 0px 0px 70px;
  display: inline-block;
  border: none;
  background: #f7bc65;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  height: 1px;
  width: 1350px;
  background-color: rgb(255, 153, 0);
  border: none;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 50px 50px 50px 200px;
  border: none;
  width: 25%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}


.modal-content {
  background-color: #f7f5f5;
  margin: 3% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgb(250, 210, 125);
  width: 600px;
  height: 1150px; /* Could be more or less, depending on screen size */
}
