/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.css);

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 10px;
    color: rgb(207, 159, 54);
    clear: both;
   }
   
   .social-icon {
    width: 1280px;
    height: 65px;    
   }